**/.DS_Store
**/cifar-10-batches-py
**/*.tar.gz
**/*.pyc
**/__pycache__
**/.env
**/wandb/
**/saved_models/

# Quarto build artifacts
**/_acuity
**/_extensions
**/site_libs
**/*.typ

# Other build artifacts
**/build/
